body {
   display: flex;
   flex-direction: column;
   font-family: Roboto;
   margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}
img {
    width: 400px;
    height: 200px;
    align-self: center
}
button {
    width: 75px;
    background-color: #3882F6;
    color: white;
}

/* Header and Title  */
.firstback {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 24px;
}
.right-links {
    display: flex;
    gap: 10px;
}
.firstcontainer {
    display:flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.titlecontainer {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 15px;
}
.title {
    font-size: 48px;
    font-weight: 900;
    color: white
}
.titletext {
    font-size: 18px;
    color: white;
}