body {
   display: flex;
   flex-direction: column;
   font-family: Roboto;
   margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.firstcontainer img {
    width: 400px;
    height: 200px;
    align-self: center
}
button {
    width: 75px;
    background-color: #3882F6;
    color: white;
}

/* Header and Title  */
.firstback {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 24px;
}
.right-links {
    display: flex;
    gap: 10px;
}
.firstcontainer {
    display:flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.titlecontainer {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 15px;
}
.title {
    font-size: 48px;
    font-weight: 900;
    color: white
}
.titletext {
    font-size: 18px;
    color: white;
}

/* Img/Subtext */

.secondback {
    background: whitesmoke;
    height: 300px;
}

.containerinfo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.randominfo {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info img {
    width: 200px;
    height: 150px;
    border: 1px solid;
    border-radius: 10%;
}

.subtext {
    text-align: center
}

/* Quote Container */

.thirdback {
    background-color: #e5e7eb;
    height: 200px;
    padding: 200px;
    display: flex;
    flex-direction: column;
    flex: 1
}

.quote {
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
    text-align: center;
}

.thor {
    text-align: right;
    font-size: 32px;
    color: black;
}

/* Call to action */

.fourthback {
    background-color: white;
    padding: 60px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.actionbox {
    background-color:#3882F6;
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    border-radius: 2%;
    padding: 15px;
}

.actionfont {
    color: white;
    font-size: 20px;
}
.signup {
    color:#e5e7eb;
    font-size: 15px;
}

.actionbox button {
    border-color: white;
    border-radius: 5%;
}

/* Footer */

.footercontainer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.copyright {
    color: white;

}

/* Hi Douglas */
